@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0px 4.5dvw 0px 40px;
}

body {
  color: white;
  background: #141414;
}

header {
  position: fixed;
  top: 0;
  height: 5dvw;
  overflow: hidden;
  background: #141414;
  width: 100%;
}

header .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo {
  /* height: 40px; */
  height: 3dvw;
}

header .logo:hover {
  cursor: pointer;
}

.navigation_bar_1 {
  font-size: 1.2dvw;
  font-weight: 500;
  /* margin-left: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1dvw;
  flex-grow: 1;
}

.navigation_button:hover {
  opacity: 60%;
  cursor: pointer;
}

.navigation_bar_2 {
  /* height: 40px; */
  height: 2.5dvw;
  display: flex;
  flex-direction: row;
  gap: 1dvw;
}

.navigation_bar_2 > :hover {
  cursor: pointer;
}

.avatar_in_bar {
  background: grey;
  min-height: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  margin-right: -1dvw;
}

main {
  margin-top: 8dvw;
}

.category {
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 1.75dvw;
  margin-bottom: 0.35dvw;
}

.films-carroussel {
  margin-left: -40px;
  margin-right: -4.5dvw;
  display: flex;
  flex-direction: row;
  gap: 0.35dvw;
  overflow-x: scroll;
  scrollbar-width: none;
}

.film-image {
  flex: none;
  width: calc(20% - (5 * 0.35dvw));
}

.film-image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  border-radius: 3px;
}

.left-filler {
  flex: none;
  width: 40px;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5dvw;
}

.pdp {
  width: 50%;
}
